<p id="notice"><%= notice %></p>

<p>
  <strong>שם:</strong>
  <%= @week.name %>
</p>

<p>
  <strong>תדירות:</strong>
  <%= @week.frequency %>
</p>

<p>
  <strong>כמה שעות דרושות:</strong>
  <%= @week.houers %>
</p>

<p>
  <strong>מתי במהלך היום:</strong>
  <%= @week.tomezon %>
</p>

<p>
  <strong>ימים שיהיה טוב שזה יהיה בהם:</strong>
  <%= "<span class='label label-default'>א'</span>".html_safe if @week.day_a == 1 %>
  <%= "<span class='label label-default'>ב'</span>".html_safe if @week.day_b == 1 %>
  <%= "<span class='label label-default'>ג'</span>".html_safe if @week.day_c == 1 %>
  <%= "<span class='label label-default'>ד'</span>".html_safe if @week.day_d == 1 %>
  <%= "<span class='label label-default'>ה'</span>".html_safe if @week.day_e == 1 %>
  <%= "<span class='label label-default'>ו'</span>".html_safe if @week.day_f == 1 %>
  <%= "<span class='label label-default'>שבת</span>".html_safe if @week.day_s == 1 %>
</p>

<p>
  <strong>ימים שלא יהיה טוב:</strong>
  <%= "<span class='label label-default'>א'</span>".html_safe if @week.day_a == 2 %>
  <%= "<span class='label label-default'>ב'</span>".html_safe if @week.day_b == 2 %>
  <%= "<span class='label label-default'>ג'</span>".html_safe if @week.day_c == 2 %>
  <%= "<span class='label label-default'>ד'</span>".html_safe if @week.day_d == 2 %>
  <%= "<span class='label label-default'>ה'</span>".html_safe if @week.day_e == 2 %>
  <%= "<span class='label label-default'>ו'</span>".html_safe if @week.day_f == 2 %>
  <%= "<span class='label label-default'>שבת</span>".html_safe if @week.day_s == 2 %>
</p>

<%= link_to 'עריכה', edit_week_path(@week), class: "btn btn-default" %>
<%= link_to 'חזרה', weeks_path, class: "btn btn-default" %>
