<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "שם" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "שם משפחה" %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label "טלפון" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label 'דוא"ל' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "תאריך לידה" %><br>
    <%= f.date_select :birth_date %>
  </div>
  <div>


      <strong>מעגלים</strong><br />

        <% i = 1 %>
          <span>
            <div class="row">
              <table class="table">
              <tr>

              <%= f.collection_check_boxes(:circul_ids, Circul.all, :id, :initial_name) do |b| %>
                <% if i == 8 %>
                  <%= "</tr><tr>".html_safe %>
                  <% i = 1 %>
                <% end %>
                <%= b.label(class: "check_box") do %>
                  <td>
                    <%= b.check_box(class: "check_box") %>

                    <%= b.object.name %>
                  </td>
                <% end %>
                <% i = i+1 %>
              <% end %>
            </tr>
            </table>
            </div>
          </span>

  </div>
  <div class="actions">
    <%= f.submit "שלח" %>
  </div>
<% end %>
