<p id="notice"><%= notice %></p>
<div class="row" dir="rtl">
  <h1>תצוגה לפי חודשים</h1>
<table class="Table">
  <tr class="trtoptop">


      <% i = 14 %>
      <% div_starts = nil %>
      <% br = 0 %>
      <% @events.order(:start_at).each do |event| %>

          <% if i != event.start_at.month %>
          <%= "</ol></td>".html_safe if div_starts != nil %>
          <%= "</tr><tr>".html_safe if br == 6 %>
          <%= "<td class='toptop'>".html_safe %>
            <%= "<h3>#{event.monther}</h3><ol>".html_safe  %>
            <% i = event.start_at.month %>
            <% div_starts = "a" %>
            <% br = br+1 %>
          <% end %>
          <li>
            <%= event.name %>
          </li>

      <% end %>
</td>
  </tr>

</table>

</div>
<h1>רשימת חברים</h1>

<table id="friends" class="table datatable">
  <thead>
    <tr>
      <th>שם</th>
      <th>שם משפחה</th>
      <th>טלפון</th>
      <th>דוא"ל"</th>
      <th>תאריך לידה</th>
      <th>חבר/ה המספר מעגלים</th>
      <th>צריך/ה לבוא לסמינרים</th>
      <th>בסך הכל ימים</th>
      <th>בסך הכך לילות</th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= link_to friend.name, friend %></td>
        <td><%= friend.lname %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.email %></td>
        <td><%= friend.birth_date %></td>
        <td>
          <% a = friend.all_parent_getter if friend.circuls.any? %>
          <%= a.count if friend.circuls.any? %>
        </td>
        <td>
          <% if friend.circuls.any? %>
            <%  events = event_counter(a).count %>
            <% present = (events * 100 / 52) %>
            <div class="progress">
              <div class="progress-bar progress-bar-<%= progress_color(present) %>" style="width: <%= present %>%">
                <%= events %>
              </div>
            </div>
          <% end %>
        </td>
        <td>
          <% if friend.circuls.any? %>
            <%= days_counter(a).inject(0, :+) %>
          <% end %>
        </td>
        <td>
          <% if friend.circuls.any? %>
            <%= nights_counter(a).inject(0, :+) %>
          <% end %>
        </td>


        <td><%= link_to 'עריכה', edit_friend_path(friend) %></td>
        <td><%= link_to 'מחיקה', friend, method: :delete, data: { confirm: 'למחוק?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'הוספת חבר/ה חדש/ה', new_friend_path %>

<% form_for @friends.first do |f| %>
  <% f.text_area :name, :class => 'ckeditor' %>
  <% f.submit %>
<% end %>

<script>
$('.ckeditor').ckeditor({
// optional config
});
$(document).ready(function() {
  // http://ckeditor.com/latest/samples/toolbarconfigurator/index.html#basic to config
  CKEDITOR.config.toolbarGroups = [
    { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
    { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
    '/',
    { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
    { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
    { name: 'forms', groups: [ 'forms' ] },
    { name: 'links', groups: [ 'links' ] },
    { name: 'insert', groups: [ 'insert' ] },
    { name: 'colors', groups: [ 'colors' ] },
    '/',
    { name: 'styles', groups: [ 'styles' ] },
    { name: 'about', groups: [ 'about' ] },
    { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
    { name: 'tools', groups: [ 'tools' ] },
    { name: 'others', groups: [ 'others' ] }
  ];
  CKEDITOR.config.removeButtons = 'Maximize,Image,Flash,Table,HorizontalRule,Smiley,SpecialChar,PageBreak,Iframe,HiddenField,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,Templates,Preview,Print,Save,NewPage,CreateDiv,Language,About';
});
</script>
