<%= simple_form_for(@event) do |f| %>

  <div class="field">
    <%= f.input :name, label: "שם:" %>
  </div>
  <div class="field">
    <%= f.input :days, label: "כמה ימים יהיה:" %>
  </div>
  <div class="field">
    <%= f.input :nights, label: "כמה לילות יהיה:" %>
  </div>
  <div class="field">
    <%= f.input :start_at, label: "הכי מוקדם יתחיל ב:" %><br>
    <%# f.text_field :start_at, 'data-provide'=>'datepicker', :class => "datepicker_format" %>
  </div>
  <div class="field">
    <%= f.input :end_at, label: "לכל המאוחר יסתיים ב:" %><br>
    <%# f.text_field :end_at, 'data-provide'=>'datepicker', :class => "datepicker_format" %>
    <%# f.text_field :end_at %>
  </div>
  <div class="field">
    <%= f.select :time, Event.times.keys.to_a  %>
  </div>
  <div class="field">
    <%= f.select :mosa, Event.mosas.keys.to_a  %>
  </div>

  <div class="field">
    <%= f.label "הערות:" %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field hidden">
    <%= f.label "מיקום" %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field hidden">
    <%= f.label "מצב" %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field hidden">
    <%= f.label "צבע" %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">

    <%= f.label "מיועד למעגלים:" %><br>

<div class="row">
  <table class="table">
    <tr>
        <% i = 1 %>
        <%= f.collection_check_boxes :circul_ids, Circul.all, :id, :initial_name do |ff| %>
                <%# f.collection_check_boxes(:circul_ids, Circul.all, :id, :initial_name) do |ff| %>
          <% if i == 8 %>
            <%= "</tr><tr>".html_safe %>
            <% i = 1 %>
          <% end %>
          <%= ff.label(class: "check_box") do %>
            <td>
              <%= ff.check_box(class: "check_box") %>
              <%= ff.object.name %>
            </td>
          <% end %>
          <% i = i+1 %>
        <% end %>

    </tr>
  </table>
</div>

--
<%= f.label "מיועד לחברות וחברים:" %><br>

<div class="row">
<table class="table">
<tr>
    <% i = 1 %>
    <%= f.collection_check_boxes :friend_ids, Friend.all, :id, :name_with_initial do |ff| %>
            <%# f.collection_check_boxes(:circul_ids, Circul.all, :id, :initial_name) do |ff| %>
      <% if i == 8 %>
        <%= "</tr><tr>".html_safe %>
        <% i = 1 %>
      <% end %>
      <%= ff.label(class: "check_box") do %>
        <td>
          <%= ff.check_box(class: "check_box") %>
          <%= ff.object.name %>
        </td>
      <% end %>
      <% i = i+1 %>
    <% end %>

</tr>
</table>
</div>
--

  </div>
  <div class="actions">
    <%= f.submit "שמירה" %>
  </div>
<% end %>
<script>
  $('.datepicker_format').datepicker({
    format: 'dd-mm-yyyy'
  });
</script>
