<p id="notice"><%= notice %></p>

<p>
  <strong>שם:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>תאריך התחלה:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>תאריך סיום:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>הערות:</strong>
  <%= @event.note %>
</p>

<p>
  <strong>כמה ימים יהיה:</strong>
  <%= @event.days %>
</p>

<p>
  <strong>כמה לילות:</strong>
  <%= @event.nights %>
</p>

<p>
  <strong>מיקום:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>מצב:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>צבע:</strong>
  <%= @event.color %>
</p>

<%= link_to 'עריכה', edit_event_path(@event) %> |
<%= link_to 'חזרה', events_path %>
