<p id="notice"><%= notice %></p>

<p>
  <strong>שם:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>תאריך התחלה:</strong>
  <%= @event.start_at %>
</p>

<p>
  <strong>תאריך סיום:</strong>
  <%= @event.end_at %>
</p>

<p>
  <strong>הערות:</strong>
  <%= @event.note %>
</p>

<p>
  <strong>כמה ימים יהיה:</strong>
  <%= @event.days %>
</p>

<p>
  <strong>כמה לילות:</strong>
  <%= @event.nights %>
</p>

<p>
  <strong>מתי צריך להיות:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>למי יועד:</strong>
  <%= @event.mosa %>
</p>

<p class="hidden">
  <strong>מיקום:</strong>
  <%= @event.place %>
</p>

<p class="hidden">
  <strong>מצב:</strong>
  <%= @event.status %>
</p>

<p class="hidden">
  <strong>צבע:</strong>
  <%= @event.color %>
</p>

<p>
  <strong>מעגלים:</strong>
  <ul>
    <% @event.circuls.each do |circul| %>
      <li>
        <%= circul.name %>
      </li>
    <% end %>
</ul>
</p>
<p>
  <strong>חברים:</strong>
  <ul>
    <% @event.friends.each do |friend| %>
      <li>
        <%= friend.name_with_initial %>
      </li>
    <% end %>
</ul>
</p>

<% if @event.draft? %>
<%= link_to "אישור", approved_event_path(@event), method: :post, class: "btn btn-success" %>
<% else %>
<%= link_to "ביטול", draft_event_path(@event), method: :post, class: "btn btn-warning" %>
<% end %>

<%= link_to 'עריכה', edit_event_path(@event), class: "btn btn-default" %>
<%= link_to 'חזרה', events_path, class: "btn btn-default" %>
