<p id="notice"><%= notice %></p>

<p>
  <strong>שם:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>תאריך התחלה:</strong>
  <%= @event.start_at %>
</p>

<p>
  <strong>תאריך סיום:</strong>
  <%= @event.end_at %>
</p>

<p>
  <strong>הערות:</strong>
  <%= @event.note %>
</p>

<p>
  <strong>כמה ימים יהיה:</strong>
  <%= @event.days %>
</p>

<p>
  <strong>כמה לילות:</strong>
  <%= @event.nights %>
</p>

<p>
  <strong>מתי צריך להיות:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>למי יועד:</strong>
  <%= @event.mosa %>
</p>

<p class="hidden">
  <strong>מיקום:</strong>
  <%= @event.place %>
</p>

<p class="hidden">
  <strong>מצב:</strong>
  <%= @event.status %>
</p>

<p class="hidden">
  <strong>צבע:</strong>
  <%= @event.color %>
</p>

<p>
  <strong>מעגלים:</strong>
  <ul>
    <% @event.circuls.each do |circul| %>
      <li>
        <%= circul.name %>
      </li>
    <% end %>
</ul>
</p>


<%= link_to 'עריכה', edit_event_path(@event) %> |
<%= link_to 'חזרה', events_path %>
