<!-- <h3>סמינר לו"ז שנתי - v0.0.1</h3> -->
<p>
  <%= link_to "לרשימת החבררות והחברים", friends_path %>
</p>
<p>
  +<%= link_to "הוספת חברות וחברים", new_friend_path %>
</p>
<br />
<p>
  <%= link_to "לרשימת המעגלים", circuls_path %>
</p>
<p>
  +<%= link_to "הוספת מעגל", new_circul_path %>
</p>
<br />
<p>
  <%= link_to "לרשימת הסמינרים", events_path %>
</p>

<p>
  +<%= link_to "הוספת סמינר", new_event_path %>
</p>
